body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app-container {
    height: 100%;
    width: 100%;
    position: relative;
}

#app-wrapper {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
}

#panels {
    display: table;
    width: 100%;
    height: 100%;
}

#map-panel, #info-panel {
  display: table-row;
}

#map-panel {
    position: relative;
    background-color: #eee;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

#marker-compass {
    display: block;
    position: fixed;
    left: 50%;
    top: 3%;
    height: 55px;
    z-index: 5;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#marker-compass #marker-circle {
    fill: lightblue;
    opacity: 0.55;
    -webkit-transform-origin: center center 0;
    -moz-transform-origin: center center 0;
    transform-origin: center center 0;
    -webkit-filter: drop-shadow(5px 5px 5px #ccc);
    -moz-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px 5px 5px #333);
}

#marker-compass #marker-arrow {
    -webkit-transform-origin: center center 0;
    -moz-transform-origin: center center 0;
    transform-origin: center center 0;
    -webkit-filter: drop-shadow(5px 5px 5px #ccc);
    -moz-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px 5px 5px #333);
    fill: #c2185b;
}

#info-panel {
    height: 35%;
    background: linear-gradient(#212121, #2d2d2d);
    color: #d2d2d2;
    font-family: 'Calibiri', 'Cabin', 'Helvetica', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    position: relative;
}

#refresh-button {
    position: absolute;
    background-color: #00BCD4;
    color: #fff;
    bottom: 35%;
    right: 1em;
    font-size: 1.25em;
    padding: 1em;
    border-radius: 3em;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    box-shadow: 1px 5px 15px #c2185b;
}

#reset-button {
    position: fixed;
    bottom: 1em;
    right: 1.5em;
    color: #222;
    text-shadow: 1px 1px 0 #656565;
    font-size: 1.5em;
}

#address-info-box {
    list-style: none;
    margin: 0;
    padding: 0;
}

#address-info-box li {
    padding: 0.25em 1em;
    /*border-bottom: 1px solid #1d1d1d;*/
    font-size: 1.2em;
}


#address-info-box .main {
    color: #fff;
    background-color: #ff4081;
    padding: .5em;
    font-size: 1.2em;
    margin: 0 0 .5em 0;
    text-shadow: 1px 1px 1px #c2185b;
}

#address-info-box .main .main-info {
    display: block;
    font-size: .5em;
    margin: 0 0 .25em;
    color: #333;
    text-shadow: none;
}